<div class="content-wrapper">
    <section class="content-header">
        <h1>Home</h1>
    </section>
    <section class="content">
        <app-error-display [errors]="errors"></app-error-display>
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Welcome to Loki!</h3>
            </div>
            <div class="box-body">
                <p>Loki is a testing ground for ideas I'm working out with <a href="https://nodejs.org/api/addons.html"
                        target="_blank">Node addons</a> and <a href="https://angular.io/" target="_blank">Angular6</a>.</p>
                <p>In order to make Loki work, you'll need to:</p>
                <ul>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Build the addons using
                        <code><a href="https://nodejs.org/download/release/v11.2.0/">v11.2.0</a></code> of Node. You
                        will probably need to update the include paths in the Visual Studio projects.</a>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Possibly update <code>module_file_path</code>
                        in <code>config.js</code></a>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Install (with <code>npm install</code>)
                        packages both in the root and in the loki-site folder.</a>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Build the site from the
                        <code>loki-site</code> folder with <code>ng build</code></a>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Note that <code>ng build</code>
                        will include the contents of the <code>src/assets/images</code> folder, so if you've generated
                        screenshots in development mode, those will be included in the production build's <code>dist</code>
                        folder. To avoid this, just clear the images from that folder before building.</a>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Start the server from the
                        root with <code>npm start</code>.</a>
                    <a class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> Open a browser tab to <code><a href="http://localhost:8888/">http://localhost:8888/</a></code>.</a>
                </ul>
                <p class="version-display" *ngIf="version.length > 0">This is version {{version}} of Loki.</p>
            </div>
        </div>
    </section>
</div>