<div class="content-wrapper">
    <section class="content-header">
        <h1>Device List</h1>
    </section>
    <section class="content">
        <app-error-display [errors]="errors"></app-error-display>
        <div class="box box-info">
            <div class="box-header">
                <a class="btn btn-default pull-right" role="button" (click)="getDeviceList()">Get Devices</a>
            </div>
            <div class="box-body">
                <div *ngIf="devices != undefined && devices.length > 0" class="device-list-table">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Class Name</th>
                                    <th>Instance ID</th>
                                    <th>Friendly Name</th>
                                    <th>Hardware ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of devices">
                                    <td>{{device.className}}</td>
                                    <td>{{device.deviceInstanceId}}</td>
                                    <td>{{device.friendlyName}}</td>
                                    <td>{{device.hardwareId}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>