extends layout

block content
  .jumbotron
    .container
      h1 I don't know what this site is for yet.
  .container
    .row
      .col-md-4
        h2 Heading
        p Some descriptive text
        p
          a.btn.btn-default View Details &raquo;
      .col-md-4
        h2 Heading
        p Some descriptive text
        p
          a.btn.btn-default View Details &raquo;
      .col-md-4
        h2 Heading
        p Some descriptive text
        p
          a.btn.btn-default View Details &raquo;
