doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/jumbotron.css')
    link(rel='icon', href='/favicon.png')
    script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Loki
          .navbar-collapse.collapse#navbar
    block content
