<div class="content-wrapper">
    <section class="content-header">
        <h1>Process List</h1>
    </section>
    <section class="content">
        <app-error-display [errors]="errors"></app-error-display>
        <div class="box box-info">
            <div class="box-header">
                <a class="btn btn-default pull-right" role="button" (click)="getProcessList()">Get Processes</a>
            </div>
            <div class="box-body">
                <div *ngIf="processes != undefined && processes.length > 0" class="process-list-table">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Process Name</th>
                                    <th>Process ID</th>
                                    <th>Thread Count</th>
                                    <th>Parent Process ID</th>
                                    <th>Priority Base</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let process of processes">
                                    <td>{{process.processName}}</td>
                                    <td>{{process.processProcessId}}</td>
                                    <td>{{process.processThreadCount}}</td>
                                    <td>{{process.processParentProcessId}}</td>
                                    <td>{{process.processPriorityBase}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>